body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

section {
  height: 500px;
  padding-bottom: 150px;
}

h1 {
  font-size: 50px;
}

.orange-text {
  color: #ff8367;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width img {
  width: 80%;
}

.link-button {
  text-decoration: none;
  background-color: #ff8367;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 700;
}

#latest-project-title {
  text-align: center;
  font-size: 30px;
  padding: 2%;
}

.cards {
  box-shadow: 5px 5px 40px lightgray;
  border-radius: 5px;
  height: 80%;
  width: 100%;
}

.one-third-width {
  width: 25%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.one-third-width img {
  width: 100%;
}

.bottom-banner {
  background-image: url(img/shapes/shape1.png);
  background-repeat: no-repeat;
  background-size: 70% 20%;
  background-position: center;
}

#bottom-elem-1 {
  float: left;
  color: white;
  padding-left: 20%;
  padding-top: 23%;
}

#bottom-elem-2 {
  float: right;
  padding-right: 20%;
  padding-top: 25%;
}
